body {
  max-width: 100%;
  margin-top: 2px;
}

.wrapper {
  margin: 0 auto;
  max-width: 1520px;
  background-color: #fff;
  color: #56534c;
  font-family: "Alegreya";
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
}

.head {
  background: no-repeat top/100% url("../img/img-site/bc-img_1.jpg");
  margin-bottom: 48px;
}

.navigation ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 85%;
  margin-bottom: 10px;
}

.navigation-fon {
  display: flex;
  min-width: 100%;
  min-height: 35px;
  justify-content: flex-end;
  background-color: rgba(133, 133, 134, 0.5);
  padding-top: 25px;
  margin-bottom: 113px;
}

.navbar-label {
  width: 140px;
  height: 44px;
  margin-top: 10px;
  color: #cfc9c0;
  font-family: "Scriptina";
  font-size: 35px;
  font-weight: 900;
  line-height: 24px;
  text-align: left;
  letter-spacing: 9px;
}

li, .navbar-label__link {
  width: 770px;
  height: 10px;
  color: #fff;
  font-family: "Alegreya";
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 4.2px;
}

.fa-brands {
  margin-top: -5px;
  width: 50px;
  height: 40px;
  border-radius: 150%;
  color: #fff;
}

.head-zakaz {
  display: inline-block;
  vertical-align: top;
  justify-content: center;
  padding-left: 370px;
  max-width: 765px;
  text-align: center;
}

h1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 900px;
  height: 92px;
  margin-bottom: 110px;
  text-shadow: 0 1px 0 #3d3029;
  color: #ffffff;
  font-family: "Playfair Display";
  font-size: 92px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  letter-spacing: 6.9px;
}

.title-head {
  width: 644px;
  height: 56px;
  margin-bottom: 70px;
  margin-left: 80px;
  text-shadow: 0 1px 0 #3d3029;
  color: #ffffff;
  font-family: "Proxima Nova";
  font-size: 28px;
  font-weight: 900;
  line-height: 36px;
  text-align: center;
  letter-spacing: 2.4px;
}

.btn {
  width: 200px;
  height: 50px;
  border: none;
  margin-left: 290px;
  margin-bottom: 165px;
  cursor: pointer;
}

.btn-our_menu {
  width: 200px;
  height: 50px;
  border: 1px dashed #9e9c93;
  background-color: #56534c;
  color: #ffffff;
  font-family: "Alegreya";
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
}

.btn-our_menu a {
  color: #fff;
}

.stars-img {
  margin: 0 0 0 330px;
  width: 106px;
  height: 106px;
}

.prezents-block {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
  margin-left: 35px;
  margin-bottom: -170px;
}

.prezents-chefcook {
  max-width: 484px;
}
.prezents-chefcook__title {
  min-width: 259px;
  padding-left: 70px;
  color: #a47d5e;
  font-family: "Alegreya";
  font-size: 14px;
  font-weight: 700;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1.1px;
}
.prezents-chefcook__text {
  width: 484px;
  height: 85px;
  font-family: "Proxima Nova";
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  letter-spacing: 1.4px;
  margin-top: 50px;
  margin-bottom: 45px;
}
.prezents-chefcook__images {
  max-width: 650px;
  margin-left: 83px;
}

.art-cakes {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 395px;
  padding-left: 65px;
  font-family: "Alegreya";
  font-weight: 700;
  font-size: 55px;
  text-align: center;
  letter-spacing: 1.2px;
  margin-bottom: -15px;
}

.chef-cook {
  min-width: 107px;
  height: 17px;
  font-family: "Alegreya";
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.6px;
  margin-bottom: 49px;
}

.block-img {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.block-chef {
  padding: 0 47px 0 47px;
}

hr {
  width: 111px;
  height: 1px;
  background-color: #d7d5ca;
  margin-top: 20px;
  margin-left: -20px;
}

.quote {
  width: 67px;
  height: 18px;
  font-family: "Alegreya";
  font-size: 24px;
  font-weight: 400;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.6px;
}

.block-quo {
  width: 406px;
}

.fonts-scripts {
  width: 236px;
  height: 57px;
  color: #a47d5e;
  font-family: "Scriptina";
  font-size: 24px;
  font-weight: 400;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.6px;
  margin-left: 100px;
}

.quo-left, .quo-right {
  padding-top: 10px;
  padding-bottom: 10px;
}

.quo-right {
  padding-left: 390px;
}

.imag-chef {
  max-width: 1000px;
  margin-left: 13px;
  margin-top: 20px;
}

.image-stars {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  top: -410px;
  left: 175px;
  opacity: 0.9;
}

.perfect-cakes {
  background: no-repeat top/100% url("../img/img-site/bc-img_2.jpg");
}

.content-carusel {
  display: flex;
  max-width: 1000px;
  margin: 0 auto;
  padding: 100px 0;
  margin-bottom: -120px;
}

.stars-in {
  position: relative;
  top: 120px;
  left: 130px;
  z-index: 1;
  width: 50px;
}

.img-width {
  position: relative;
  left: 80px;
  z-index: 0;
  max-width: 585px;
}

.text-perfect {
  background-color: #fff;
  max-width: 595px;
  max-height: 462px;
  margin-top: 20px;
  padding-left: 30px;
  padding-right: 30px;
  opacity: 0.75;
  z-index: 1;
}
.text-perfect__head {
  max-width: 360px;
  height: 45px;
  opacity: 1;
  padding-top: 30px;
  color: #52504d;
  font-size: 48px;
  font-family: "Alegreya";
  font-weight: 700;
  line-height: 20px;
  text-align: left;
  letter-spacing: 1.2px;
}

.prezents-chefcook__title {
  color: #a47d5e;
  font-size: 15px;
  font-weight: 700;
  padding-bottom: 50px;
  margin-left: -70px;
  text-align: left;
  text-transform: uppercase;
  letter-spacing: 1.4px;
}

.cakes-memories {
  margin-left: -3px;
}

.thanks-from__head {
  max-width: 350px;
  height: 45px;
  opacity: 1;
  font-size: 22px;
  font-family: "Alegreya";
  font-weight: bold;
  padding-top: 20px;
  margin-bottom: -40px;
}

.thanks-from__each {
  margin-top: -80px;
}

h4 {
  max-width: 450px;
  font-size: 18px;
  font-family: "Alegreya";
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 10px;
}

.maeceans-text {
  width: 418px;
  height: 61px;
  color: #56534c;
  font-family: "Proxima Nova";
  font-size: 14px;
  line-height: 24px;
  text-align: left;
  letter-spacing: 1.4px;
  padding-bottom: 30px;
  margin-bottom: 50px;
}

.p-width {
  max-width: 418px;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}

.ico-vector {
  position: absolute;
  top: 330px;
  padding-left: 180px;
  opacity: 0.7;
}

.stars-horizont {
  width: 100px;
  padding-bottom: 50px;
}

.chef-fon {
  position: absolute;
  top: -180px;
  left: 1120px;
  z-index: 1;
}
.chef-fon__number {
  color: #dfc691;
  font-size: 92px;
  letter-spacing: 8.2px;
  position: relative;
  top: 5px;
}

.ready-times {
  position: relative;
  top: 220px;
  left: 100px;
  width: 100px;
  color: #a47d5e;
  font-family: "Alegreya";
  font-size: 18px;
  font-weight: 700;
  line-height: 50px;
  text-align: center;
  text-transform: uppercase;
}

b {
  color: #979285;
  font-size: 14px;
  letter-spacing: 1.8px;
  position: relative;
  text-transform: none;
}

.breakfast-head {
  background: no-repeat top/100% url("../img/img-site/bc-img_3.jpg");
  box-shadow: 0 8px 9px #000000;
  margin-bottom: -315px;
}

.breakfast-block {
  display: flex;
}

.breakfast-block__menu {
  max-width: 310px;
  padding: 89px 0 89px 369px;
}

.menu-breakfast {
  width: 275px;
  height: 77px;
  padding-left: 20px;
  color: #ffffff;
  font-size: 60px;
  letter-spacing: 3px;
  font-family: "Alegreya";
  font-weight: 700;
  line-height: 30px;
  text-align: center;
}

.menu-breakfast__descript {
  width: 310px;
  height: 55px;
  color: #ffffff;
  font-family: "Alegreya";
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 1.5px;
  line-height: 30px;
  text-align: center;
}

.breakfast-descript {
  font-family: "Proxima Nova - Regular";
  font-weight: 400;
  letter-spacing: 0.8px;
  color: #c2beba;
  font-size: 16px;
  text-align: center;
}

.breakfast-price {
  width: 94px;
  height: 28px;
  padding: 25px 0 20px 180px;
  color: #dfc691;
  font-family: Alegreya;
  font-size: 36px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 30px;
  text-align: center;
  letter-spacing: 1.8px;
}

.ico-decor {
  padding: 20px 0 20px 110px;
}

.prezents-chefcook__titles {
  color: #c8a593;
  font-size: 18px;
  letter-spacing: 0.9px;
}

.breakfast-block__list {
  position: relative;
  left: 600px;
}

h5 {
  font-size: 45px;
  position: relative;
  top: 100px;
  left: 35px;
  display: inline-block;
  vertical-align: middle;
}

.right {
  padding-left: 200px;
}

.palm-width {
  position: relative;
  left: -250px;
  top: 450px;
  z-index: 1;
}

.hr-width {
  position: relative;
  top: 150px;
  left: -330px;
  max-width: 361px;
}

.breakfast-block__text {
  position: relative;
  top: -420px;
  left: 30px;
}

.art-cakes__breacfast {
  font-size: 44px;
  font-weight: 700;
  line-height: 60px;
  text-align: center;
  padding: 0;
}

.art-cakes__title {
  width: 394px;
  color: #56534c;
  font-family: "Proxima Nova";
  font-size: 14px;
  padding: 48px 40px 55px;
  font-weight: 400;
  line-height: 30px;
  text-align: center;
  letter-spacing: 1.7px;
}

.btn-breakfast {
  font-family: Alegreya;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  margin-left: 90px;
  background-color: #f3f1e9;
  border: none;
  border: 1px solid #bcbab1;
  color: #a57f60;
  text-align: center;
  text-transform: uppercase;
}

.sandwich-block {
  background-color: #f3f1e9;
  max-width: 100%;
  margin: 0;
  padding: 0;
}

.sandwich-block__display {
  display: flex;
  justify-content: center;
}

.sandwich-block__header {
  max-width: 710px;
  padding-left: 27%;
}

.sandwich-block__text {
  width: 479px;
  height: 80px;
  font-size: 48px;
  font-weight: bold;
  margin: -60px 0 0 120px;
  letter-spacing: 1.2px;
  text-align: center;
}

.sandwich-block__title {
  color: #a47d5e;
  font-family: "Alegreya";
  font-size: 14px;
  font-weight: 700;
  position: relative;
  top: -40px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
}

.sandwich-block__elips {
  max-width: 300px;
  margin-left: 170px;
}

.block-elips {
  text-align: center;
}

.elips-header {
  width: 291px;
  height: 29px;
  color: #a47d5e;
  padding-bottom: 50px;
  font-family: "Alegreya";
  font-size: 30px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.75px;
}

.elips-title {
  width: 290px;
  height: 33px;
  color: #56534c;
  font-family: "Proxima Nova";
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 1.4px;
  padding-bottom: 75px;
}

.sandwich-block__img {
  padding: 90px 120px;
}

.right-block {
  position: absolute;
  margin: -22px 0 0 -200px;
}

.btn-reciple {
  width: 171px;
  height: 60px;
  position: relative;
  top: -30px;
  left: -25px;
  background-color: #fff;
  border: 1px dashed #dfc691;
  color: green;
  font-family: "Alegreya";
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.9px;
}

a, .btn-reciple {
  color: green;
}

footer {
  min-width: 100%;
  background-color: #f3f1e9;
  margin-bottom: 3px;
}

.foot {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.foot-one ul,
.foot-two ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  max-width: 645px;
  padding-bottom: 90px;
  font-family: "Alegreya";
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  text-transform: uppercase;
  letter-spacing: 4.2px;
}

.foot-one ul {
  padding-right: 45px;
}

.foot-link {
  font-size: 18px;
}

.foot-label {
  width: 140px;
  height: 44px;
  margin-left: -55px;
  color: #56534c;
  font-family: "Scriptina";
  font-size: 20px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 24px;
  text-align: left;
  letter-spacing: 9px;
  margin-top: -153px;
}

li, .foot-link {
  color: #56534c;
}

.our-menu {
  font-size: 17px;
  margin-left: 1px;
}

.left-top {
  width: 590px;
  margin-left: 0px;
  margin-bottom: 10px;
  background-color: #080c5f;
  opacity: 0.3;
}

.right-top {
  width: 610px;
  margin-left: 20px;
  margin-bottom: 10px;
  background-color: #080c5f;
  opacity: 0.3;
}

.right-bottom {
  position: relative;
  top: -90px;
}

.left-bottom {
  position: relative;
  top: -90px;
}
