@font-face {
   font-family: 'Alegreya';
   src: url('../fonts/Alegreya-Bold.woff2') format('woff2'),
      url('../fonts/Alegreya-Bold.woff') format('woff');
   font-weight: bold;
   font-style: normal;
   font-display: swap;
}

@font-face {
    font-family: 'Alegreya';
    src: url('../fonts/Alegreya-Regular.woff2') format('woff2'),
        url('../fonts/Alegreya-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
   font-family: 'Playfair Display';
   src: url('../fonts/PlayfairDisplay-Bold.woff2') format('woff2'),
      url('../fonts/PlayfairDisplay-Bold.woff') format('woff');
   font-weight: bold;
   font-style: normal;
   font-display: swap;
}


@font-face {
   font-family: 'Proxima Nova Rg';
   src: url('../fonts/ProximaNova-Regular.woff2') format('woff2'),
      url('../fonts/ProximaNova-Regular.woff') format('woff');
   font-weight: normal;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: 'Scriptina';
   src: url('../fonts/Scriptina.woff2') format('woff2'),
      url('../fonts/Scriptina.woff') format('woff');
   font-weight: normal;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: 'TimesNewRomanPSMT';
   src: url('../fonts/TimesNewRomanPSMT.woff2') format('woff2'),
      url('../fonts/TimesNewRomanPSMT.woff') format('woff');
   font-weight: normal;
   font-style: normal;
   font-display: swap;
}